@model IEnumerable<object>

@{
    var isRequired = ViewData.ModelMetadata.IsRequired;
    var isRequiredStar = isRequired ? "*" : "";
    var htmlAttributes = new RouteValueDictionary();
    if (@ViewData.ModelMetadata.DisplayName == null) {
        ViewData.ModelMetadata.DisplayName = ViewData.ModelMetadata.PropertyName;
    }
    if (ViewBag.@class != null) {
        htmlAttributes.Add("class", "form-control " + ViewBag.@class);
    } else {
        htmlAttributes.Add("class", "form-control");
    }
    if (ViewBag.placeholder != null) {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    } else {
        if (isRequired) {
            htmlAttributes.Add("placeholder", @ViewData.ModelMetadata.DisplayName + isRequiredStar);
        } else {
            htmlAttributes.Add("placeholder", "[" + @ViewData.ModelMetadata.DisplayName + "]");
        }
    }
    if (ViewBag.Value != null) {
        htmlAttributes.Add("Value", ViewBag.Value);
    }

}
<div class="form-group">
    <div class="controls">
        <label class="col-md-2 control-label">ViewData.ModelMetadata.DisplayName<span class="red ">@isRequiredStar</span></label>
        <div class="col-md-10">
            
            <a href="#" data-toggle="tooltip" data-original-title="Please select your country, it's going to verify against your IP." title="Please select your country, it's going to verify against your IP." class="tooltip-show"><span class="question-mark-for-description"></span></a>
        </div>
    </div>
</div>
