<!--[if lt IE 9]>
<div class="container-fuild browser-update">
<div class="row">
    <div class="col-md-12">Warning! Your browser is too old. Please update your browser to the <a href="http://browser-update.org/update.html#3">latest version</a>.</div>
</div>
</div>
<![endif]-->